@font-face {
  font-family: "1";
  src: url("OnlineBatchCodes\Task_1\The Last Of Us Rough.ttf");

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1{
font-family: The Last Of Us Rough;
letter-spacing: 20px;
font-size: 80px;
color: rgb(255, 255, 255);
border-color: black;
box-sizing: border-box;
}

.body{
    background-image: url(AloneCity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    margin-left: 50px;
}

